<% provide(:title, '') %>

<h1>Home</h1>
Welcome to Ruby Users of Minnesota!
<% # BEGIN: VARIABLE SECTION %>
<div class="center jumbotron">
  <% if user_signed_in? %>
    <% # BEGIN: USER SECTION %>
    You are logged in as a user (<%= current_user.username %>).
    <br>
    <% if current_user.following.any? %>
      <%= link_to "Following: #{current_user.following.count}", following_user_path(current_user) %>
    <% end %>
    <% # END: USER SECTION %>
  <% elsif admin_signed_in? %>
    <% # BEGIN: ADMIN SECTION %>
    You are logged in as an admin (<%= current_admin.username %>).
    <% # END: ADMIN SECTION %>
  <% else %>
    <% # BEGIN: GENERAL PUBLIC %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    <% # END: GENERAL PUBLIC %>
  <% end %>
</div>
<% # END: VARIABLE SECTION %>

<h3>About</h3>
We are Ruby enthusiasts from the Twin Cities area.
On this site, we showcase sponsors, post job openings, showcase our projects, and present our qualifications.
We meet on the last Monday of the month at 6:30PM at Day Block Brewing.
You can RSVP to our events on our Meetup page, read our Tweets on our Twitter page, and discuss Ruby on our Google group.

<h3>Links</h3>
<ul>
  <li>Meetup: <%= link_to 'https://www.meetup.com/ruby-mn', 'https://www.meetup.com/ruby-mn'  %></li>
  <li>Twitter: <%= link_to 'https://twitter.com/rubymn', 'https://twitter.com/rubymn' %></li>
  <li>Google group: <%= link_to 'https://groups.google.com/forum/#!forum/rubymn', 'https://groups.google.com/forum/#!forum/rubymn' %></li>
  <li>Day Block Brewing: <%= link_to 'https://www.dayblockbrewing.com', 'https://www.dayblockbrewing.com' %></li>
</ul>

<h3>Current Sponsors</h3>
<div class="sponsors_current">
  <% @sponsors_current.each do |s| %>
    <li>
      <%= link_to s.name, s %>
      <% if s.picture? %>
        <br>
        <p style="margin-left: 40px">
        <%= image_tag s.picture.url(:thumb) %>
      <% end %>
    </li>
  <% end %>
</div>
