<% require 'email_munger' %>

<hr>
<table class="user_index_gravatar">
  <tr>
    <td>
      <%= gravatar_for user %>
    </td>
    <td>
      <%= user.first_name %> <%= user.last_name %>
      <br>
      <%= link_to user.username, user %>
      <br>
      <%= link_to raw(EmailMunger.encode(user.email)), user %>
    </td>
  </tr>
</table>
