<% provide(:title, @sponsor.name) %>

<% # BEGIN: h1 header section %>
<% if @sponsor.current == true %>
  <h1>Current Sponsor: <%= @sponsor.name %></h1>
<% else %>
  <h1>Past Sponsor: <%= @sponsor.name %></h1>
<% end %>
<% # END: h1 header section %>

<% # BEGIN: edit and delete sponsor buttons %>
<% if admin_signed_in? && current_admin.super %>
  <%= link_to "Edit Sponsor", edit_sponsor_path(@sponsor),
              class: "btn btn-lg btn-primary"
    %>
  <br><br>
  <%= link_to "Delete Sponsor", @sponsor, method: :delete,
                            data: { confirm: "Are you sure you wish to delete this sponsor?" },
                            class: "btn btn-lg btn-primary"
  %>
  <br><br>
<% end %>
<% # END: edit and delete sponsor buttons %>

Email: <%= raw(EmailMunger.encode(@sponsor.contact_email)) %>
<br>
Phone: <%= @sponsor.phone %>
<br>
URL: <%= link_to @sponsor.contact_url, @sponsor.contact_url %>
<br><br>
<%= @sponsor.description %>

<% if @sponsor.picture? %>
  <br><br>
  <%= image_tag @sponsor.picture.url %>
<% end %>
