<% provide(:title, "Project: #{@project.title}") %>

<h1>Project: <%= @project.title %></h1>

<% # BEGIN: edit project button %>
<% if user_signed_in? && current_user == @user %>
  <%= link_to "Edit Project", edit_project_path(@project),
              class: "btn btn-lg btn-primary"
    %>
  <br><br>
<% end %>
<% # END: edit project button %>

<% # BEGIN: delete project button %>
<% @correct_user = false %>
<% if user_signed_in? %>
  <% @correct_user = true if current_user.id == Project.find(params[:id]).user_id %>
<% end %>
<% if @correct_user || admin_signed_in? %>
  <%= link_to "Delete Project", @project, method: :delete,
                                         data: { confirm: "Are you sure you wish to delete this project?" },
                                         class: "btn btn-danger"
  %>
  <br><br>
<% end %>
<% # END: delete project button %>

<% # BEGIN: name and title of user %>
<% if admin_signed_in? || user_signed_in? %>
  Author: <%= link_to "#{@user.first_name} #{@user.last_name}", @user %>
<% else %>
  Author: <%= @user.first_name %> <%= @user.last_name %>
<% end %>
<% # END: name and title of user %>
<br><br>
Description: <%= @project.description %>
<br><br>

<% if @project.source_code_url.nil? == false %>
  Source Code URL: <%= link_to "#{@project.source_code_url}", @project.source_code_url %>
  <br><br>
<% end %>

<% if @project.deployed_url.nil? == false %>
  Deployed URL: <%= link_to "#{@project.deployed_url}", @project.deployed_url %>
  <br><br>
<% end %>
